{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Upload</title>
    <link rel="stylesheet" href="{% static 'hello.css' %}" />
  </head>
  <body>
    <div class="container">
      {% if ogimage and bgrimage %}
      <h1>Image Comparison</h1>
      <div class="images">
        <div>
          <h3>Original Image</h3>
          <img src="{{ogimage}}" alt="{{ogimage}}" />
        </div>
        <div>
          <h3>Background Removed</h3>
          <img src="{{bgrimage}}" alt="{{bgrimage}}" />
        </div>
      </div>
      {%else%}
      <h1>No Image to show</h1>
      {% endif %}
      <div class="upload-form">
        <form
          action="{% url 'home' %}"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <label for="image-upload">Upload an Image:</label>
          <input
            type="file"
            id="image-upload"
            name="image-upload"
            accept="image/*"
          />
          <button type="submit">Upload Image</button>
        </form>
      </div>
      <h1>Made by Ezaz</h1>
    </div>
  </body>
</html>
